@import "tailwindcss";
@plugin "daisyui";

@tailwind base;
@tailwind components;
@tailwind utilities;

html.dark {
  background-color: #121212; /* Example dark background */
  color: white; /* Example text color for dark mode */
}

.dark .bg-gray-800 {
  background-color: #2d3748; /* Adjusted for dark mode */
}